<div class="container">
    <h2>Are you sure you want to delete this?</h2>
    <a href="/deleteAccount"><button class="btn btn-danger">Yes</button></a>
    <a href="/profile"><button class="btn btn-success">No</button></a>
</div>