{{#if user}}
{{else}}
<div class="row">
    <div class="col-sm-4">
        <h1>
            <a href="/auth/facebook"><button type="button" class="btn btn-primary btn-lg">Login with Facebook</button></a><br>
        </h1>
        
        <h1>
            <a href="/auth/google"><button type="button" class="btn btn-danger btn-lg" width="20px">Login with Google</button></a>
        </h1>
        <p class="text-center">or</p>
        <form action="/login">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <button class="btn btn-primary text-center" type="submit">Login</button>
        </form>
        No account? <a href="/newAccount">Sign up</a> here
    </div>
</div>
{{/if}}